<span class="logo">
        Drakosha
    </span>
<div class="contacts">
        <span class="contacts__span">
            Follow Us:
        </span>
  <h5 class="contacts__net" >Instagram</h5>
  <h5 class="contacts__net">VK</h5>
  <h5 class="contacts__net">Telegram</h5>
</div>
<div class="find_us">
  <h4>Найди нас!</h4>
  <p>
    Drakosha РОССИЯ <br>
    г. Санкт-Петербург
  </p>
</div>




<pre class="drakosha__pre">
          ____                          _
         |  _ \ _ __ __ _  ___ ___  ___| |__   __ _
         | | | | '__/ _` |/ __/ _ \/ __| '_ \ / _` |
         | |_| | | | (_| | (_| (_) \__ \ | | | (_| |
         |____/|_|  \__,_|\___\___/|___/_| |_|\__,_|

    </pre>
<q>
  Но одно дело читать о драконах, а другое - встретиться с ними.
</q>
<p id="speed_time">{{ data }}</p>