<div class="container">
        <span class="logo header__logo">
            Drakosha
        </span>

  <nav class="nav">
    <a class="nav__button" href="/">Hi</a>
    <a class="nav__button" href="/meet">Давай знакомиться</a>
    <a class="nav__button" href="/skills">Я умею</a>
    <a class="nav__button" href="/friends">Мои друзья</a>
    <a class="nav__button" href="/ask">Спроси дракошу</a>
    <a class="nav__button" href="/chat">Чатик</a>
  </nav>
</div>