<!-- https://supertokens.com/docs/emailpassword/custom-ui/init/frontend -->
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/emailpassword.js"></script>
<script>
  supertokens.init({
    appInfo: {
      appName: 'drakoshaa',
      apiDomain: `${location.protocol}//${location.host}`,
      apiBasePath: '/auth',
    },
    recipeList: [supertokensSession.init(), supertokensEmailPassword.init({ cookieSameSite: 'lax' })],
  });
</script>

<!-- https://supertokens.com/docs/emailpassword/custom-ui/sign-out -->
<script>
  async function logout() {
    await supertokensSession.signOut();
    window.location.href = '/ask';
  }
</script>
<!DOCTYPE html>
<html lang="ru">
<head>
  {{> headSharedStyleScript}}
  <title>Drakosha ask</title>
</head>
<body>
  <header class="header_meet">
    {{> header}}
  </header>

<main>
 <div class="logged">
   <h2 class="logged__subtitle">You logged as {{ hello }} !</h2>
   <a class="blubtn" onclick="logout()" type="button" >Log Out</a>

 </div>


  <section class="footer_section">
    <h3 class="review__subtitle">Передай пожелание Дракоше! </h3>
    <h2 class="review__title">Спроси у Дракоши </h2>
    <form class="ask__form">
      <label>
        <input  type="text" class="ask_drakosha" placeholder="ask Drakosha...">
      </label>
      <button type="submit" class="ask__button">Send to Drakosha</button>
    </form>
    <ol class="ask__question"></ol>

  </section>


</main>
<footer>
    {{>footer}}
</footer>
<script src="/script/navigation.js"></script>
<script src="/script/questions.js"></script>
</body>
</html>