<!DOCTYPE html>
<html lang="ru">
<head>
  {{> headSharedStyleScript}}
  <link rel="stylesheet" href="css/form.css">
  <title>Drakosha ask</title>
</head>
<body>

<header class="header_meet">
  {{> header}}
</header>

<main>
  <section>

    <div id="clouds">
      <h3 class="review__subtitle">Передай пожелание Дракоше! </h3>
      <h2 class="review__title">Чтобы написать дракоше авторизируйся </h2>
      <div class="cloud x1"></div>
      <!-- Time for multiple clouds to dance around -->
      <div class="cloud x2"></div>

      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>

    </div>

    <div class="container_form">

      <div id="login">

        <form action="/login" method="post">
          <fieldset class="clearfix">
            <p><span class="fontawesome-user"></span><input type="text" value="Username" name="pass" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><input type="submit" value="Sign In"></p>
          </fieldset>
        </form>
      </div> <!-- end login -->
    </div>


  </section>


</main>

<script src="script/navigation.js"></script>
</body>
</html>