<!DOCTYPE html>
<html lang="ru">
<head>
  {{> headSharedStyleScript}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!---->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

  <title>Drakosha world</title>
</head>
<body class="body__chat">

<header class="header_chat">
  <div class="container_chat">
        <span class="logo header__logo">
            Drakosha
        </span>

    <nav class="nav">
      <a class="nav__button" href="/">Hi</a>
      <a class="nav__button" href="/meet">Давай знакомиться</a>
      <a class="nav__button" href="/skills">Я умею</a>
      <a class="nav__button" href="/friends">Мои друзья</a>
      <a class="nav__button" href="/ask">Спроси дракошу</a>
      <a class="nav__button" href="/chat">Чатик</a>
    </nav>
  </div>
</header>

<div class="welcome__chat">
<div id="app" class="containerr">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <h1 class="text-center">[[ title ]]</h1>
      <br>
      <div id="status"></div>
      <div id="chat">
        <input type="text" v-model="name" id="username" class="form-control" placeholder="Enter name...">
        <br>
        <div class="card">
          <div id="messages" class="card-block">
            <ul>
<!--              <li v-for="message of messages">[[ message.name ]]: [[ message.text ]]</li>-->
              <li v-for="message of messages" :class="{ 'sent': message.name === name }">
                <span v-if="message.name !== name">[[ message.name ]]: </span>
                <span>[[ message.text ]]</span>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <textarea id="textarea" class="form-control" v-model="text" placeholder="Enter message..."></textarea>
        <br>
        <button id="send" class="btn" @click.prevent="sendMessage">Send</button>
      </div>
    </div>
  </div>
</div>
  </div>

<script src="script/chatWithSocket.js"></script>
</body>
</html>